.userSettings {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #303030;
    // background-color: #303030e9;
    // backdrop-filter: blur(6px);
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}