.userSettings {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #303030;
	z-index: 7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all 0.3s ease-in-out;
	h1 {
		min-height: 4rem;
		line-height: 1.1;
		max-width: 80%;
		overflow-wrap: anywhere;
		text-align: center;
		font-size: 3rem;
		display: flex;
		align-items: center;
	}
	button {
		height: 4rem;
		font-size: 1.5rem;
		background-color: #222222;
		letter-spacing: 2px;
		border-radius: 100px;
	}
}
.inputContainer {
	width: 100%;
	p {
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}
	input {
		width: 100%;
		border-radius: 0.6rem;
		border: none;
		background-color: #222222;
		font-size: 1.5rem;
		&:focus {
			outline: 3px solid #4a4a4a;
		}
	}
	.radioButtons {
		display: flex;
		width: 100%;
		margin-left: 0px;
		margin-bottom: 0;
		justify-content: space-around;
		.radioButton {
			position: relative;
			width: 2.5rem;
			height: 2.5rem;
			margin-bottom: 0;
			cursor: pointer;
			div {
				position: absolute;
				border-radius: 50rem;
				z-index: 1;
				pointer-events: none;
			}
			.border {
				width: 2.5rem;
				height: 2.5rem;
			}
			.dot {
				width: 60%;
				height: 60%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				&:focus-visible {
					outline: none;
				}
			}
			.input {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				position: absolute;
				height: 2.4rem;
				width: 2.4rem;
				margin: 0;
				outline: none;
				&:focus {
					outline: none;
				}
			}
		}
	}
}
.showTimeAndNameInput {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	p {
		margin-top: 0;
	}
	div {
		display: flex;
		justify-content: center;
		align-items: center;
		.switch {
			position: relative;
			width: 5rem;
			height: 2.8rem;
			display: flex;
			justify-content: center;
			input {
				opacity: 0;
				height: 100%;
				width: 100%;
				margin: 0;
				cursor: pointer;
				&:checked + .slider:before {
					transform: translate(0%, -50%) translateX(2.2rem);
				}
				&:checked + .slider {
					background-color: #565656;
				}
			}
			.slider {
				cursor: pointer;
				position: absolute;
				transform: translate(0%, -50%);
				top: 50%;
				background-color: #222222;
				transition: 0.3s;
				pointer-events: none;
				border-radius: 100rem;
				width: 100%;
				height: 100%;
			}
			.slider:before {
				content: "";
				position: absolute;
				transform: translate(0%, -50%);
				top: 50%;
				left: 0.5rem;
				height: 1.9rem;
				width: 1.9rem;
				background-color: #ababab;
				transition: 0.3s;
				border-radius: 100px;
			}
		}
	}
}

@media screen and (max-width: 699px) {
	.userSettings {
		h1 {
			margin-bottom: 1.5rem;
		}
		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 80%;
			button {
				padding: 0 1.8rem;
				margin-top: 2.8rem;
			}
			.inputContainer {
				margin-bottom: 2rem;
			}
			.showTimeAndNameInput {
				div {
					flex-direction: column;
				}
			}
		}
	}
}

@media screen and (min-width: 700px) {
	.userSettings {
		h1 {
			margin-bottom: -1.5rem;
		}
		form {
			display: grid;
			width: 80%;
			grid-template-columns: auto auto;
			.inputContainer {
				padding: 2rem;
			}
			.nicknameInput {
				grid-area: 1 / 1 / span 1 / span 2;
			}
			.colorInput {
				grid-area: 2 / 1 / span 1 / span 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			.showTimeAndNameInput {
				div {
					gap: 2rem;
					p {
						margin: 0;
					}
				}
			}
			button {
				grid-area: 3 / 1 / span 1 / span 2;
				justify-self: center;
				width: 50%;
				margin: 2rem;
			}
		}
	}
}
